
#profile {
    visibility: hidden; }
    #profile.active {
      visibility: visible; }
      #profile.active .profile-form {
        right: 0; }
    #profile .profile-form {
      position: fixed;
      top: 0;
      bottom: 0;
      right: -500px;
      overflow-y: auto;
      width: 500px;
      border-left: 5px solid #444;
      background: #F3F3F3;
      z-index: 100;
      -webkit-transition: right 0.25s ease;
      -o-transition: right 0.25s ease;
      transition: right 0.25s ease; }
      #profile .profile-form .title {
        font-size: 30px;
        height: 80px;
        line-height: 80px;
        margin: 0;
        color: #FFF;
        padding: 0 20px;
        background: #444; }
        #profile .profile-form .title .close {
          float: right;
          color: #FFF;
          line-height: 30px;
          height: 30px;
          margin-top: 25px;
          -webkit-transition: all 0.25s ease;
          -o-transition: all 0.25s ease;
          transition: all 0.25s ease; }
          #profile .profile-form .title .close:hover {
            text-decoration: none;
            opacity: 0.7;
            filter: alpha(opacity=70); }
      #profile .profile-form .close {
        font-family: "Lato", "Helvetica Neue", "Helvetica";
        background: none;
        border: none;
        padding: 0;
        margin: 0; }
      #profile .profile-form .inner {
        padding: 10px 20px; }
      #profile .profile-form fieldset {
        margin: 20px 0 40px 0; }
        #profile .profile-form fieldset legend {
          border: 0;
          text-transform: uppercase;
          border-bottom: 2px solid #999;
          padding: 0 0 10px 0;
          color: #666; }
        #profile .profile-form fieldset .form-row {
          margin: 0 -10px; }
          #profile .profile-form fieldset .form-row .col {
            width: 50%;
            float: left;
            padding: 0 10px; }
      #profile .profile-form .btn-save {
        padding: 15px 35px;
        border: 2px solid #555;
        text-transform: uppercase;
        background: transparent;
        color: #555;
        font-weight: 400;
        -webkit-transition: all 0.15s ease;
        -o-transition: all 0.15s ease;
        transition: all 0.15s ease; }
        #profile .profile-form .btn-save:hover {
          background: #555;
          color: #FFF; }
    #profile .profile-tuto {
      display: none;
      position: fixed;
      top: 0;
      bottom: 0;
      z-index: 20;
      background: rgba(21, 21, 21, 0.97);
      width: 100%;
      height: 100%;
      padding-right: 500px;
      font-weight: 400;
      opacity: 0;
      filter: alpha(opacity=0);
      -webkit-transition: opacity 0.25s ease;
      -o-transition: opacity 0.25s ease;
      transition: opacity 0.25s ease; }
      #profile .profile-tuto.active {
        display: block;
        opacity: 1;
        filter: alpha(opacity=100); }
      #profile .profile-tuto .content {
        color: #ffffff;
        font-size: 24px;
        line-height: 34px;
        position: absolute;
        width: 100%;
        padding: 0 550px 0 100px;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%); }
        #profile .profile-tuto .content .list .item {
          display: block;
          margin: 20px;
          font-size: 20px;
          line-height: 30px; }
          #profile .profile-tuto .content .list .item small {
            display: block;
            color: #999;
            line-height: 0.8em; }
          #profile .profile-tuto .content .list .item.done {
            opacity: 0.3;
            text-decoration: line-through; }
          #profile .profile-tuto .content .list .item .btn-hero {
            margin: 0;
            margin-top: 60px;
            padding: 10px 40px;
            font-size: 20px; }
  